
body {
    background-image: url(http://localhost:8080/Images/ZebraLookingAtCamera.jpg);
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
