
body {
    background-image: url(http://localhost:8080/Images/marty.jpg);
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.middle-panel {
    margin-left: 39em;
    width: 33vw;
    padding-bottom: 1em;
}

.home-page-content {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 10%;
    padding-top: .5em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
}